aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
attrs==24.3.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
comtypes==1.4.8
decorator==5.1.1
filelock==3.16.1
frozenlist==1.5.0
grpcio==1.68.1
h11==0.14.0
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
Markdown==3.7
moviepy==2.1.1
multidict==6.1.0
numpy==2.2.1
outcome==1.3.0.post0
pillow==10.4.0
praw==7.8.1
prawcore==2.4.0
proglog==0.1.10
propcache==0.2.1
protobuf==5.29.2
pycparser==2.22
pyht==0.1.10
pypiwin32==223
PySocks==1.7.1
python-dotenv==1.0.1
pyttsx3==2.98
pywin32==308
requests==2.32.3
selenium==4.27.1
setuptools==75.6.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
tqdm==4.67.1
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
update-checker==0.18.0
urllib3==2.3.0
websocket-client==1.8.0
websockets==13.1
wsproto==1.2.0
yarl==1.18.3
